$themes: (
  light: (
    color-background: #fafafa,
    color-card: #fff,
    color-foreground: #37474f,
  ),
  dark: (
    color-background: #37474f,
    color-card: #212121,
    color-foreground: #fafafa,
  ),
);
