@import "color-palette";
@import "mixins";

body {
  margin: 0;
  padding: 0;
  @include theme-aware("background", "color-background");
  @include theme-aware("color", "color-foreground");
}

.container {
  padding: 0.5rem 1.25rem;
}

.drawer-paper {
  @include theme-aware("background", "color-card");
  @include theme-aware("color", "color-foreground");
  min-width: 20rem;
  padding: 1rem 2rem;

  .options-close {
    text-align: right;
  }

  .options-title {
    display: flex;
    .options-title-text {
      align-self: center;
      font-weight: bold;
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-color: #f00;
    }
  }
}
